/* ---------- Header ---------- */
header {
    background-image: 
    linear-gradient(
        rgba(31, 31, 31, 0.650), 
        rgba(31, 31, 31, 0.650)
      ),
      url(/img/Header/headerc.png);
    width: 100%;
    height: 330px;
    }

/* ---------- Logo ---------- */
#logoIS {
  display: flex;
  justify-content: center;
  }

/* ---------- Menu ---------- */

:root{
    --hauteur-menu: 40px;
  }
  * {
    margin: 0px;
    padding: 0px;
  }

  nav{
    display: flex;
    justify-content: center;
  }
  nav > ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px white;
    height: var(--hauteur-menu);
  }

  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    position: relative;
    flex: 1;
  }

  nav > ul > li > a {
    font-size: 25px;
    position: absolute;
   
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color:white;
    font-size: 19px;
  }

  #menu{
    margin-left: 100px;
  }

  .menu-deroulant > a:after{
    content: 'â¯';
    font-size: 20px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu{
    margin-top: var(--hauteur-menu);
    width: 200px;
    margin-right: 35px;
    padding-right: 30px;
    text-align: center;
    background-color:#4d4d4d73;
    overflow: hidden;
    max-height: 0;
  }

  nav > ul > li:hover > a {
    color:#367995;
  }

  .sous-menu > li:hover {
    color:#367995;
  }
  
  .sous-menu > li:hover > a {
    color:#367995;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .menu-deroulant:hover > a:after {
    animation: rotationFleche 0.2s linear forwards;
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid white;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #367995;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

/* ---------- Description ---------- */
.descripton {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    }

#description1 {
    color: #4D4D4D;
}

#description2 {
    color: #367995;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

/* ---------- Button Iris Solutions ---------- */
#button {
    background-color:#4D4D4D;
    color:#367995;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 grey;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: transform .1s;
    
    }
    
#button:hover {
    background-color:#367995;
    color:white;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    }

/* ---------- Titles & Images ---------- */
#page1, #page2, #page3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    }

h3 {
    color: #367995;
    }

.images {
    
    background-color: rgba(128, 128, 128, 0.52);
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.imgis {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    }

/* ---------- Footer ---------- */

footer{
    background-color: rgba(128, 128, 128, 0.52);
    height: 100px;
}

.copyright{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    color: white;
}

#poweredBy{
    margin-left: 5px;
    text-decoration: none;
    color: #367995;
}

#poweredBy:hover{
    color: white;
}

#github{
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: transform .1s;
}

#github:hover{
    -ms-transform: scale(1.()); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.3);
}